@charset "utf-8";
/* CSS Document */

@media (max-width:1199px){
	
}
@media (max-width:991px){
	.baner{
		padding-top: 203px;
		padding-bottom: 110px;
	}
	.baner-text h1{
		font-size: 50px;
		margin-bottom: 30px;
		line-height: 52px;
	}
	.box-text-baner{
		margin-bottom: 30px;
	}
}
@media (max-width:767px){
	.logo{
		display: block;
		margin-bottom: 20px;
	}
	.logo img{
		display: block;
		margin: 0 auto;
	}
	.herder{
		padding-top: 25px;
	}
	.baner{
		top: -146;
	}
	.nav-menu ul.menu{
		justify-content: center;
	}
	.baner-text h1{
		font-size: 30px;
		line-height: 32px;
	}
	.box-text-baner h1{
		font-size: 16px;
		margin-bottom:  30px;
	}
}
@media (max-width:600px){
	
}
@media (max-width:500px){
	
}
@media (max-width:470px){
	.nav-menu ul.menu{
		font-size: 11px;
		padding-left: 9px;
	}
	.separator{
		padding-bottom: 11px;
	}
	.baner{
		padding-top: 174px;
		padding-bottom: 58px;
	}
	.baner-text h1{
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 17px;
	}
}
